*{
    box-sizing: border-box;
    font-family: sans-serif
}

body{
  margin: 0; 
  background-color: #f6f6f6;
  background-attachment: fixed;
}

.topnav{
    position: absolute;
    width: 100% ;
    overflow: hidden;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.topnav a{
    box-shadow: inset 0 0 0 0 #B2BEB5;
    float: right;
    color: white;
    padding: 8px;
    margin-left: 10px;
    margin-top: 4px;
    margin-right: 15px;
    text-decoration: none;
    position: relative;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    border-radius: 15px;
    width: 8%;
    text-align: center;
}

.topnav a:hover{
    box-shadow: inset 100px 0 0 0 #D6e4f0;
    color: black;
}

.topnav b{
    padding: 8px;
    margin: 4px;
    font-size: medium;
    color: black;
    float: left;
}

.hero{
    width: 100%;
    height: 14cm;
    position: relative;
    display: flex;
    margin-bottom: 10px;

}

.hero img{
    margin-bottom: 3px;
    width: 100%;
    background-size: cover;
    filter: grayscale(100%);
}


h2{
    text-align: center;
    top: 50%;
    left: 50%;
    margin-bottom: 20px;
}

.container{
    display: flex;
}

.card{
    position: relative;
    color: transparent;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.card a{
    color: transparent;
    text-decoration: none;
}
.card a:hover{
    color: white;
}

.card img{
    display: block;
    height: 4cm;
    width: 4cm;
    border-radius: 15px;
    background-size: cover;
    filter: grayscale(none);
    transition: all 0.5s ease;
}


.card:hover{
    filter:hue-rotate(45deg);
    transform: scale(1.04);
    filter: grayscale(100%);
    transition: 0.5s ease;
    color: white;
}

.desc{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: large;
    text-align: center;
    margin: 0;
}

.desc1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: large;
    text-align: center;
    margin: 0;
    color: white;
}

.Back{
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 11px;
    background-color: #D6e4f0;
    border-radius: 15px;
    width: 11%;
    height: 1.1cm;
    text-align: center;
    margin: 2cm;
    float: right;
    text-decoration: none;
    position: relative;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    color: black;
    aspect-ratio: 1;
    outline: calc(10%/2) solid #0009;
    outline-offset: calc(10%/-2);
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;
}

.Back:hover{
    box-shadow: inset 1000px 0 0 0 #163172;
    color: white;
    outline: 5px solid #163172;
    outline-offset: 8px;
}